@media only screen and (min-width:1025px)
{
    /*General*/
    .menu{
        visibility: hidden;
        height: 0;
        width: 0;
        padding: 0;
        margin: 0;
    }

    #feedLabel{
        height: 0;
        visibility: hidden;
    }

    #jobsLabel{
        height: 0;
        visibility: hidden;
    }

    #blogLabel{
        height: 0;
        visibility: hidden;
    }

    #eduLabel{
        height: 0;
        visibility: hidden;
    }

    body{
        background-color: #ddd;
        display: grid;
        grid-template-columns: 5vw 20vw 50vw 20vw 5vw;
        grid-template-rows: 10vh 31vw auto;
        width: 99vw;
        margin:0;
        padding: 0;
        height: auto;
        font-family: 'Poppins', sans-serif;
        overflow-x: hidden;
    }

    a{
        color:white;
        text-decoration: none;
    }

    fieldset{
        border: none;
    }

    input:focus{
        background-color: #eee;
    }

    form{
        padding-left: 3vw;
        padding-right: 3vw;
        height: 1fr;
        border: none;
    }

    h2{
        font-weight: normal;
        font-size: 1.5em;
    }

    /*Accord Menu*/
    .accord{
        background-color: #fff;
        color: #24532b;
        font-weight: 700;
        font-size: 16pt;
        height: auto;
        width: auto;
        border: none;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        text-align: left;
        font-size: 1.25rem;
    }

    .accord:hover{
        background-color: #24532b;
        color: white;
    }

    /*Navigation*/
    #menu{
        visibility: hidden;
        height: 0;
    }

    nav{
        background-color: #24532b;
        grid-column: 1/-1;
        grid-row:1/2;
        display: grid;
        grid-template-columns: 5vw 20vw 25vw 20vw 25vw 5vw;
        position: sticky;
        top:0;
        z-index: 100;
        width: 99vw;
    }

    nav h1{
        color: white;
        font-size: 3vw;
        font-weight: 700;
        margin: 0vw;
        }

    nav input{
        width:21vw;
        height: 85%;
        grid-column: 4/5;
        border: hidden;
    }

    .logo{
        grid-column:2/3;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 10vh;
    }

    .login{
        grid-column: 4/5;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: white;
        text-align: right;
        padding-right: 1vh;
        margin-left: 14vw;
        width: 5vw;
        padding-top: 3.5vh;
    }

    .login h3{
        display: inline;
    }

    .login button{
        background-color: #24532b;
        border: none;
        color: white;
        grid-column: 4/5;
        text-align: right;
    }

    .login:hover .signin{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .signin{
        display: none;
        background-color: #24532b;
        margin-top: 3.5vh;
        margin-left:-14vw;
        height: 19vh;
        width: 20vw;
    }

    .signin input{
        width: 18vw;
        height: 5vh;
    }

    .categories{
        color: white;
        width: 15vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 3.5vh;
        grid-column: 3/4;
    }

    .categories h3{
        display:inline;
    }

    .categories button{
        background-color: #24532b;
        border: none;
        color: white;
        grid-column: 3/4;
        text-align: left;
        margin: 0;
        margin-left: 1vh;
    }

    .categories:hover .pages{
        display: block;
    }

    .pages{
        display: none;
        background-color: #24532b;
        width: 15vw;
        margin-top: 3.5vh;
    }

    .pages a{
        display: block;
        width:1fr;
        height:35px;
        padding-top:10px;
        padding-left:15px;
        background-color: #24532b;
        border-bottom: 2px solid rgba(255, 255, 255, .65);
    }

    .pages a:last-child{
        border: none;
    }

    .pages a:hover{
        background-color: #1C4222;
    }

    .search{
        background-color: white;
        height: 5vh;
        margin-top: 2vh;
        grid-column: 5/6;
        grid-row: 1/2;
        width: 25vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .search i{
        background-color: white;
        height: 1vw;
        width: 1vw;
        padding-left: 1vh;
        padding-right: 1vh;
        margin:0;
    }

    .search div{
        width: 24vw;
        height: 5vh;
    }

/*Carousel*/
    #featured{
        grid-column: 2/5;
        grid-row:2/3;
        margin:0;
        margin-top: 1vw;
        overflow: hidden;
    }

    .slide{
        width: 90vw;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
    }

    .slide h2{
        text-align: center;
        width: 84vw;
        height: auto;
        grid-column: 1/-1;
        color: white;
        background-color: rgba(0, 0, 0, .45);
        padding: 3vw;
        padding-top: 5px;
        padding-bottom: 5px;
        position: relative;
        z-index: 2;
        top: -120px;
    }

    .slide img{
        object-fit: cover;
        width: 90vw;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
    }

    .slick-prev, .slick-next{
        background-color: #24532b;
        border: none;
        opacity: 100%;
        z-index:5;
        height: 30vw;
        width: 2vw;
        transition: 250ms ease-in-out;
    }

    .slick-prev::before {
        opacity:0.25;
        transition: 250ms ease-in-out;
    }

    .slick-next::before {
        opacity:0.25;
        transition: 250ms ease-in-out;
    }

    .slick-prev{
        left:0px;
    }

    .slick-next{
        right:0px;
    }

    .slick-next:hover, .slick-prev:hover, .slick-next:focus, .slick-prev:focus{
        opacity: 100%;
        background-color: hsl(129, 39%, 20%);;
    }

/*Feed*/
    #feed{
        grid-column: 3/4;
        grid-row: 3/6;
        height: 1fr;
        margin-left: 2vw;
        margin-right: 2vw;
        margin-top: 5vh;
    }

    #feed a:hover .art_title{
        background-color: hsl(129, 39%, 20%);
    }

    article{
        width:1fr;
        height:auto;
        background-color: white;
        margin-bottom: 3vh;
    }

    article img{
        width: 100%;
        height: 20vh;
        background-color: hsl(129, 39%, 23%);
        object-fit: cover;
        display: block;
    }

    article p{
        margin-left: 1vw;
        margin-right: 1vw;
        margin-top: 1vh;
    }

    .art_title{
        background-color: #24532b;
        font-weight: 500;
        margin-bottom: 5px;
        padding-left: 1vw;
        padding-right: 1vw;
        margin-left: 0px;

        color: white;
        width: 44vw;
        /* height:35px; */
        margin-top: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
        height: auto;
    }

    .newsletter{
        background-color: #24532b;
        color: white;
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 1.5em;
        width: 1fr;
        text-align: center;
        display: block;
    }

    .art_preview{
        color: grey;
        font-weight: 400;
        margin-bottom: 5px;
        min-height: 11vh;
        height:auto;
        text-overflow: clip;
        overflow-y: hidden;
        padding-bottom: 20px;
    }

    .art_date{
        text-align: left;
        color: #24532b;
        margin: 1vw;
        margin-bottom: 1vh;
    }

    #moreStories{
        background-color: #24532b;
        width: 1fr;
        height: auto;
        padding-left: 1vw;
        padding-right: 1vw;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        margin-bottom: 3vh;
    }

    #moreStories:hover{
        background-color: hsl(129, 39%, 20%);
    }

    #newsletter{
        height: auto;
        padding-bottom: 3vh;
    }

/*Sides*/
.story{
    height:auto;
    width: 90%;
    background-color: white;
    margin: 0px;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 5%;
    font-size: .9em;
}

.story:hover{
    background-color: #ddd;
}

#jobs .story{
    padding-top: 0px;
    padding-bottom: 0px;
}

.label{
    width: auto;
    background-color: white;
    height:auto;
    padding:5px;
    padding-left: 15px;
    margin:0;
    color: #24532b;
    font-weight: 700;
    font-size: 16pt;
}

.label:hover{
    background-color: #24532b;
    color: white;
}

/*Jobs*/
    #jobLabel{
        height: 0;
        visibility: hidden;
    }

    #jobs{
        grid-column: 2/3;
        grid-row: 3/5;
        background-color: white;
        margin-top: 5vh;
        margin-bottom: 1vh;
        height: 83vh;
        padding:0;
        position:sticky;
        top:13vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;
    }

    #jobs a{
        display: block;
        height: auto;
        color:black;
        width: 1fr;
        margin: 0;
    }

    #jobs a:hover .posted{
        background-color: #ddd;
    }

    #jobs a:hover .story{   
        background-color: #ddd;
    }

    .posted{
        height: auto;
        background-color: white;
        color: #24532b;
        padding: 5px;
        padding-top: 10px;
        padding-bottom: 5px;
        margin: 0;
    }
    
    .posted:first-child{
        padding-top: 0px;
    }

/*Blogs*/
    #blogsLabel{
        height: 0;
        visibility: hidden;
    }

    #blogs {
        grid-column: 4/5;
        grid-row: 4/5;
        background-color: white;
        margin-top: 1vh;
        height: 40vh;
        position:sticky;
        top:56vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;
    }

    #blogs a{
        color: black;
    }

/*Education*/

    #edu{
        grid-column: 4/5;
        grid-row: 3/4;
        background-color: white;
        margin-top: 5vh;
        margin-bottom: 1vh;
        height: 40vh;
        position:sticky;
        top:13vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;
    }

    #edu a{
        color: black;
    } 

/*Footer*/    

    footer{
        grid-column: 3/4;
        background-color: white;
        height: auto;
        margin-left:2vw;
        margin-right:2vw;
        margin-bottom: 3vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr auto;
        font-size: .75em;
        color:grey;
    }

    footer h4{ 
        width: 75%;
        align-self: center;
        text-align: center;
        border-bottom: 2px solid darkgrey;
    }

    footer a{
        text-decoration: none;
        color: grey;
        width: 1fr;
        text-align: center;
        margin-bottom: 15px;
        cursor: pointer;
    }

    footer a:hover{
        text-decoration: underline;
        color: darkgrey;
        font-weight: bold;
    }

    #parent_company{
        grid-column: 1/2;
        grid-row: 2/3;
        padding-left:10px;
        padding-right:10px;
    }

    #parent_company img{
        width: 5vw;
        object-fit: cover;
    }

    #parent_company h3{
        display: inline;
        position: relative;
        bottom: 30px;
        left: 5px;
        font-size: 1vw;
        word-break: keep-all;
    }

    #copyright{
        grid-column: 2/4;
        grid-row: 2/3;
        padding-left: 15px;
        padding-right: 15px;
    }

    #informa{
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        padding-left: 5px;
    }

    #workwithus{
        grid-column: 3/4;
        display: flex;
        flex-direction: column;
    }

    #social{
        grid-column: 2/3;
        display: flex;
        flex-direction: column;
    }

    #social i{
        font-size: 25px;
        margin-left: 25px;
    }

    #social span{
        width: 1fr;
        padding-left: 15%;
    }

    .signup{
        font-size: .75em;
    }

    .user_email{
        display: inline-block;
        width: 35vw;
        margin-bottom: 15px;
    }

    .user_email input{
        width: 30vw;
    }

    .interests{
        display: inline;
        margin-bottom: 15px;
    }

    #interest{
        width:35vw;
        display: block;
        margin-bottom: 5px;
        font-weight: 700;
    }

    #inside{
        margin-left: 20px;
    }

    #daily{
        margin-left: 0px;
    }

    #vrargames{
        margin-left: 20px;
    }

    #moblie{
        margin-left: 20px;
    }

    #independent{
        margin-left: 0px;
    }

    #career{
        margin-left: 20px;
    }

    #guide{
        margin-left: 20px;
    }

    .offer{
        display: block;
        padding-top: 2vh;
        margin-bottom: 15px;
    }

    #submit{
        display: block;
        width: 14vw;
        margin-left: 13vw;
        margin-top:10px;
    }
}

@media only screen and (min-width : 591px) and (max-width : 1024px) 
{
    .menu{
        visibility: hidden;
        height: 0;
        width: 0;
        padding: 0;
        margin: 0;
    }

    #feedLabel{
        height: 0;
        visibility: hidden;
    }

    #jobsLabel{
        grid-column: 3/4;
        visibility: hidden;
    }

    #blogLabel{
        height: 0;
        visibility: hidden;
    }

    #eduLabel{
        height: 0;
        visibility: hidden;
    }

    body{
            background-color: #ddd;
            display: grid;
            grid-template-columns: 33vw 34vw 33vw;
            grid-template-rows: 10vh 31vw auto;
            width: 99vw;
            margin:0;
            padding: 0;
            height: auto;
            font-family: 'Poppins', sans-serif;
            overflow-x: hidden;
    }
    
    a{
        color:white;
        text-decoration: none;
    }

/*Navigation*/

    nav{
        background-color: #24532b;
        grid-column: 1/-1;
        grid-row:1/2;
        display: grid;
        grid-template-columns: 1vw 24vw 24vw 24vw 24vw 1vw;
        position: sticky;
        top:0;
        z-index: 100;
        width: 97.8vw;
    }

    nav h1{
        color: white;
        font-size: 3vw;
        font-weight: 700;
        margin: 0vw;
        color: white;
        }

    nav input{
        width:21vw;
        height: 85%;
        grid-column: 4/5;
        border: hidden;
    }

    .logo{
        grid-column:2/3;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: flex-start;
        height: 10vh;
    }

    #menu{  
        visibility: hidden;
        height: 0;
    }

    .login{
        grid-column: 4/5;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: white;
        text-align: right;
        padding-right: 1vw;
        width: 23vw;
        padding-top: 3.5vh;
    }

    .login h3{
        display: inline;
    }

    .login button{
        background-color: #24532b;
        border: none;
        color: white;
        text-align: right;
    }

    .login:hover .signin{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .signin{
        display: none;
        background-color: #24532b;
        margin-top: 3.5vh;
        height: 19vh;
        width: 25vw;
    }

    .signin input{
        width: 20vw;
        height: 5vh;
    }

    .categories{
        color: white;
        width: 17vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 3.5vh;
    }

    .categories h3{
        display:inline;
    }

    .categories button{
        background-color: #24532b;
        border: none;
        color: white;
        grid-column: 3/4;
        text-align: left;
        margin: 0;
        margin-left: 1vh;
    }

    .categories:hover .pages{
        display: block;
    }

    .pages{
        display: none;
        background-color: #24532b;
        width: auto;
        margin-top: 3.5vh;
    }

    .pages a{
        display: block;
        width:23vw;
        height:35px;
        padding-top:10px;
        padding-left:15px;
        background-color: #24532b;
        border-bottom: 2px solid rgba(255, 255, 255, .65);
    }

    .pages a:last-child{
        border: none;
    }

    .pages a:hover{
        background-color: #1C4222;
    }

    .search{
        background-color: white;
        height: 5vh;
        margin-top: 2vh;
        grid-column: 5/6;
        width: 23vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .search i{
        background-color: white;
        height: 1vw;
        width: auto;
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 10px;
    }

    .search div{
        width: 24vw;
        height: 5vh;
    }


/*Carousel*/

    #featured{
        grid-column: 1/-1;
        grid-row:2/3;
        margin:0;
        margin-top: 1vw;
        width: 100vw;
        overflow: hidden;
    }

    .slide{
        width: 100vw;
        height: 30vw;
    }

    .slide h2{
        text-align: center;
        width: 90vw;
        height: auto;
        color: white;
        background-color: rgba(0, 0, 0, .45);
        margin-left: 3vw;
        padding: 1vw;
        position: relative;
        z-index: 2;
        top: -100px;
        line-height: normal;
        font-size: medium;
        font-weight: 600;
    }

    .slide img{
        object-fit: cover;
        width: 90vw;
        height: 30vw;
        margin-left: 4vw;
    }

    .slick-prev, .slick-next{
        background-color: #24532b;
        border: none;
        opacity: 100%;
        z-index:5;
        height: 30vw;
        width: 4vw;
        transition: 250ms ease-in-out;
        opacity: 1;
    }

    .slick-prev{
        left: 0;
    }

    .slick-next{
        right: 2vw;
    }

    .slick-prev::before {
        opacity:0.25;
        transition: 250ms ease-in-out;
    }

    .slick-next::before {
        opacity:0.25;
        transition: 250ms ease-in-out;
    }

    .slick-next:hover, .slick-prev:hover, .slick-next:focus, .slick-prev:focus{
        opacity: 100%;
        background-color: hsl(129, 39%, 20%);;
    }

/*Feed*/

    #feed{
        grid-column: 1/3;
        grid-row: 3/6;
        height: auto;
        margin-right: 1vw;
        margin-left: 1vw;
        margin-top: 5vh;
    }

    #feed a:hover .art_title{
        background-color: hsl(129, 39%, 20%);
    }

    article{
        width:auto;
        height:auto;
        background-color: white;
        margin-bottom: 3vh;
    }

    article img{
        width: 100%;
        height: 20vh;
        background-color: hsl(129, 39%, 23%);
        object-fit: cover;
        display: block;
    }

    article p{
        margin-left: 1vw;
        margin-right: 1vw;
        margin-top: 1vh;
    }

    .art_title{
        background-color: #24532b;
        font-weight: 500;
        margin-bottom: 5px;
        padding-left: 1vw;
        padding-right: 1vw;
        margin-left: 0px;
        color: white;
        width: 63vw;
        margin-top: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
        height: auto;
        font-size: 1em;
    }

    .newsletter{
        background-color: #24532b;
        color: white;
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 1.5em;
        width: 65vw;
        text-align: center;
        display: block;
    }

    .signup{
        font-size: .75em;
        padding:3vw;
        padding-top: 0;
    }

    .art_preview{
        color: grey;
        font-weight: 400;
        margin-bottom: 5px;
        min-height: 11vh;
        height:auto;
        text-overflow: clip;
        overflow-y: hidden;
        padding-bottom: 15px;
        line-height: normal;
    }

    .art_date{
        text-align: left;
        color: #24532b;
        margin: 1vw;
        margin-bottom: 1vh;
        margin-top: 2vh;
    }

    #moreStories{
        background-color: #24532b;
        width: 1fr;
        height: auto;
        padding-left: 1vw;
        padding-right: 1vw;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        margin-bottom: 3vh;
    }

    #moreStories:hover{
        background-color: hsl(129, 39%, 20%);
    }

/*Sides*/
    .label{
        width: auto;
        background-color: white;
        height:4vh;
        padding:3px;
        padding-left: 15px;
        margin:0;
        color: #24532b;
        font-weight: 700;
        font-size: 12pt;
    }

    .label:hover{
        background-color: #24532b;
        color: white;
    }

/*Jobs*/
    #jobs{
        grid-column: 3/4;
        grid-row: 3/6;
        background-color: white;
        margin-top: 5vh;
        margin-bottom: 1vh;
        height: auto;
        padding:0;
        position:sticky;
        display: block;
        top:13vh;
        overflow: hidden;
    }

    #jobs a{
        display: block;
        height: auto;
        color:black;
        width: 1fr;
        margin: 0;
        margin-bottom: 5%;
    }

    #jobs a:hover .posted{
        background-color: #ddd;
    }

    #jobs a:hover .story{   
        background-color: #ddd;
    }
    .posted{
        height: auto;
        background-color: white;
        color: #24532b;
        padding: 5%;
        padding-bottom: 0px;
        margin: 0;
    }

    .posted:first-child{
        padding-top: 0px;
    }

/*Blogs*/

    #blogs{
        grid-column: 3/4;
        grid-row: 3/6;
        height: 0vh;
        margin-top: 13vh;
        margin-bottom: 1vh;
        overflow: hidden;
        background-color: white;
        position:sticky;
        display: block;
        top: 21vh;
    }

    #blogs a{
        color: black;
    }

/*Education*/
    #edu{
        grid-column: 3/4;
        grid-row: 3/6;
        background-color: white;
        margin-top: 9vh;
        margin-bottom: 1vh;
        height: 0vh;
        overflow: hidden;
        position:sticky;
        display: block;
        top: 17vh;
    }

    #edu a{
        color: black;
    }

/*Footer*/    

    footer{
        grid-column: 1/3;
        background-color: white;
        height: auto;
        margin-left:2vw;
        margin-right:2vw;
        margin-bottom: 3vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        font-size: .75em;
        color:grey;
    }

    footer h4{ 
        width: 75%;
        align-self: center;
        text-align: center;
        border-bottom: 2px solid darkgrey;
    }

    footer a{
        text-decoration: none;
        color: grey;
        width: 1fr;
        text-align: center;
        margin-bottom: 15px;
        cursor: pointer;
    }

    footer a:hover{
        text-decoration: underline;
        color: darkgrey;
        font-weight: bold;
    }
    
    fieldset{
        border: none;
    }

    .label{
        width: auto;
        background-color: white;
        height:auto;
        padding:5px;
        padding-left: 15px;
        margin:0;
        color: #24532b;
        font-weight: 700;
        font-size: 16pt;
    }

    .label:hover{
        background-color: #24532b;
        color: white;
    }

    #parent_company{
        grid-column: 1/3;
        grid-row: 3/4;
        padding-left:10px;
        padding-right:10px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-content: center;
    }

    #parent_company img{
        width: 15vw;
        object-fit: cover;
    }

    #parent_company h3{
        display: inline;
        margin-left: 3vw;
        font-size: 2.5em;
        word-break: keep-all;
    }

    #copyright{
        grid-column: 1/3;
        grid-row: 4/5;
        padding-left: 15px;
        padding-right: 15px;
    }

    #informa{
        grid-column: 1/2;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        padding-left: 5px;
    }

    #workwithus{
        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
    }

    #social{
        grid-column: 1/-1;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
    }

    #social i{
        font-size: 25px;
        margin-left: 25px;
    }

    #social span{
        width: 67vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .user_email{
        display: inline-block;
        width: 50vw;
        margin-bottom: 15px;
    }

    .user_email input{
        width: 75%;
    }

    .interests{
        display: block;
        margin-bottom: 15px;
    }

    #interest{
        width:35vw;
        display: block;
        margin-bottom: 5px;
        font-weight: 700;
    }

    #inside{
        margin-left: 20px;
    }

    #daily{
        margin-left: 0px;
    }

    #vrargames{
        margin-left: 20px;
    }

    #moblie{
        margin-left: 20px;
    }

    #independent{
        margin-left: 0px;
    }

    #career{
        margin-left: 20px;
    }

    #guide{
        margin-left: 20px;
    }

    .offer{
        display: block;
        margin-bottom: 15px;
    }

    #submit{
        display: block;
        width: 14vw;
        margin-left: 23vw;
        margin-top:10px;
    }
}

@media only screen and (max-width: 590px)
{
    .search{
        visibility: hidden;
        height: 0;
        width: 0;
        position: absolute;
    }

#featured{
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
}

.menu{
    background-color: #24532b;
    color: white;
}

.menu button{
    color: white;
    background-color: #24532b;
    border: none;
}

.menu:hover .pages{
    display: block;
    position: absolute;

}

.pages{
    display: none;
    background-color: #24532b;
    width: auto;
    z-index: 50;
}

.pages a{
    display: block;
    width:auto;
    height:35px;
    padding-top:10px;
    padding-left:15px;
    padding-right: 15px;
    background-color: #24532b;
    border-bottom: 2px solid rgba(255, 255, 255, .65);
}

.pages a:last-child{
    border: none;
}

.pages a:hover{
    background-color: #1C4222;
}

.search{
    visibility: hidden;
    height: 0;
}

#featured{
    visibility: hidden;
    height: 0px;
}

.accordion {
    background-color: #ddd;
    color: #24532b;
    cursor: pointer;
    padding: 1vh 2vw;
    width: 98vw;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.75em;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #24532b;
    color: white;
  }
  
  .panel {
    display: block;
    background-color: #ddd;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 94;
    padding: 0 0vw;
  }

  nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 100vw;
    height: 6vh;
    background-color: #24532b;
    color: white;
    border-bottom: 3px solid #ddd;
    padding: 2vh 2vw;
  }

  nav h1{
      padding: 0;
      margin: 0;
      height: 10vh;
  }

  .logo{
      padding: 0;
      margin: 0;
      height: 10vh;
      color: white;
  }

  .login{
    grid-column: 4/5;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    text-align: right;
    padding-right: 1vw;
    padding-top: 2vh;
}

.login h3{
    display: inline;
}

.login button{
    background-color: #24532b;
    border: none;
    color: white;
    text-align: right;
}

.login:hover .signin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 50;
}

.signin{
    display: none;
    position: absolute;
    top: 8vh;
    right: 0vw;
    background-color: #24532b;
    height: auto;
    width: auto;
    padding: 15px;
}

.signin input{
    width: 30vw;
    height: 5vh;
    padding: 7px;
}

  .categories{
      visibility: hidden;
      position: absolute;
      height: 0;
  }

  body{
    padding: 0;
    margin: 0;
    height: auto;
    font-family: 'Poppins', sans-serif;
  }

  html{
      padding: 0;
      margin: 0;
      overflow-x: hidden;
      max-height: 125vh;
  }

/*Feed*/

article{
    width:98vw;
    height:auto;
    background-color: white;
    margin-bottom: 3vh;
}

article img{
    width: 98vw;
    height: 20vh;
    background-color: hsl(129, 39%, 23%);
    object-fit: cover;
    display: block;
}

article p{
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vh;
    width: 88vw;
}

.art_title{
    background-color: #24532b;
    font-weight: 500;
    margin-bottom: 5px;
    padding: 15px 3vw;


    color: white;
    width: 92vw;
    margin-top: 0px;
    height: auto;
}

.newsletter{
    background-color: #24532b;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 1.5em;
    width: 98vw;
    text-align: center;
    display: block;
}

.signup{
    font-size: .75em;
    padding:3vw;
    padding-top: 0;
}

.art_preview{
    color: grey;
    font-weight: 400;
    margin-bottom: 5px;
    min-height: 11vh;
    height:auto;
    width: 88vw;
    text-overflow: clip;
    overflow-y: hidden;
    padding: 15px 3vw;
    padding-top: 0;
    line-height: normal;
}

.art_date{
    text-align: left;
    color: #24532b;
    padding: 5px 3vw;
    margin: 1vw;
    margin-bottom: 1vh;
    margin-top: 2vh;
}

#moreStories{
    background-color: #24532b;
    color: white;
    width: 96vw;
    height: auto;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    margin-bottom: 3vh;
}

#moreStories:hover{
    background-color: hsl(129, 39%, 20%);
}

/*Footer*/

footer{
    background-color: white;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    font-size: .7em;
    color:grey;
}

footer a{
    color: grey;
    width: 1fr;
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 1.25em;
}

.label{
    width: auto;
    background-color: white;
    height:auto;
    padding:5px;
    padding-left: 15px;
    margin:0;
    color: #24532b;
    font-weight: 700;
    font-size: 16pt;
}

.label:hover{
    background-color: #24532b;
    color: white;
}

#parent_company{
    grid-column: 1/3;
    grid-row: 3/4;
    padding: 0 15vw;
}

#parent_company img{
    width: 15vw;
    object-fit: cover;
}

#parent_company h3{
    display: inline;
    position: relative;
    bottom: 30px;
    left: 5px;
    font-size: 2.5em;
    word-break: keep-all;
    bottom: 20px;
}

#copyright{
    grid-column: 1/3;
    grid-row: 4/5;
    padding: 0 5vw;
}

#informa{
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    margin: 0 3vw;
}

#informa h4, #workwithus h4{
    width: 44vw;
    font-size: 1.5em;
    border-bottom: 2px solid darkgrey;
    text-align: center;
}

#workwithus{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 3vw;
}

#social{
    grid-column: 1/-1;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    margin-top: 15px;
}

#social h4{
    margin: 0 3vw;
    border-bottom: 2px solid darkgrey;
    text-align: center;
    width: 94vw;
    font-size: 1.5em;
}

#social i{
    font-size: 3em;
    padding: 2vh 10vw;
}

#social span{
    width: 96vw;
    padding: 2vh 2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.user_email{
    display: inline-block;
    width: 88vw;
    margin-bottom: 15px;
}

.user_email input{
    width: 80vw;
}

fieldset{
    border: none;
}

.interests{
    display: block;
    margin-bottom: 15px;
}

#interest{
    width:35vw;
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
}

#inside{
    margin-left: 20px;
}

#daily{
    margin-left: 0px;
}

#vrargames{
    margin-left: 20px;
}

#moblie{
    margin-left: 20px;
}

#independent{
    margin-left: 0px;
}

#career{
    margin-left: 20px;
}

#guide{
    margin-left: 20px;
}

.offer{
    display: block;
    margin-bottom: 15px;
}

#submit{
    display: block;
    width: 20vw;
    margin-left: 30vw;
    margin-top:10px;
}

/*Sides*/
.story{
    height:auto;
    width: 86vw;
    background-color: white;
    margin: 0px;
    padding: 15px;
    padding-top: 0;
    padding-bottom: 5%;
    font-size: 1em;
}

.card{
    height: auto;
    padding: 15px;
    background-color: white;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.card:hover .story{
    background-color: #ddd;
}

.card:hover .posted{
    background-color: #ddd;
}

.card:hover{
    background-color: #ddd;
}

#jobs .story{
    padding-top: 0px;
    padding-bottom: 0px;
}

.label{
    width: auto;
    background-color: white;
    height:auto;
    padding:5px;
    padding-left: 15px;
    margin:0;
    color: #24532b;
    font-weight: 700;
    font-size: 16pt;
}

.label:hover{
    background-color: #24532b;
    color: white;
}

/*Jobs*/

    #jobs{
        grid-column: 2/3;
        grid-row: 3/5;
        background-color: white;
        height: 83vh;
        padding:0;
        position:sticky;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;
    }

    #jobs a{
        display: block;
        height: auto;
        color:black;
        width: 1fr;
        margin: 0;
    }

    #jobs a:hover .posted{
        background-color: #ddd;
    }

    #jobs a:hover .story{   
        background-color: #ddd;
    }

    .posted{
        height: auto;
        background-color: white;
        color: #24532b;
        padding: 5px;
        margin: 0;;
    }
    
    .posted:first-child{
        padding-top: 0px;
    }

/*Blogs*/

    #blogs {
        grid-column: 4/5;
        grid-row: 4/5;
        background-color: white;
        margin-top: 1vh;
        height: 40vh;
        position:sticky;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;
    }

    #blogs a{
        color: black;
    }

/*Education*/

    #edu{
        grid-column: 4/5;
        grid-row: 3/4;
        background-color: white;
        height: 40vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;
    }

    #edu a{
        color: black;
    } 
}